/* Estilo para o layout geral */
.app {
    display: flex;
    height: 100vh;
    align-items: flex-start;
   
  }

  .avatar-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px; 
    text-align: center;
  }
  
  .avatar-button:hover {
    background-color: #0056b3;
  }
  
  .content {
    margin-top: 50px;
    margin-left: 50px;
  }
  
  .sidebar {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.946);

    border: 1px solid white;
    position: fixed;
    top: 6vh;
    z-index: 5;
    width: 280px;
    height: 90vh;
    background-color: #1c71d8;
    color: #fff;
    transition: transform 0.4s ease-in-out;
    transform: translateX(-230px);
    border-radius: 6px;
  }
  
  .sidebar.open {
    border-right-width:6px 3px ;
    border-right-color:white ;
    border-right-style:dashed ;
    background-color: #1a5fb4;
    transform: translateX(0);
    
  }
  
  .user-info {
    margin: 50px 0;
    padding: 20px;
  }
  
  .user-info img {
    width: auto;
    border-radius: 50%;
  }
  
  .user-info p {
    margin: 5px 0;
    font-size: 13px;

  }
  
  /* Estilo para os links do menu lateral */
  .sidebar a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }

  .sidebar a:hover {
    background-color: #9e9494;
  }
  
  /* Estilo para o top header */
  .top-header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    top: 0;
    height:8vh;
    background-color: #1c71d8;
    color: #fff;
    border: 4px dotted #abcef8;
    z-index: 5;
  }
  
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #ebebeb;
    margin: 8px;
    transition: 0.4s;
  }
  
  .sidebar.open .bar1 {
    transform: rotate(-45deg) translate(-9px, 7px);
  }
  
  .sidebar.open .bar2 {
    opacity: 0;
  }
  
  .sidebar.open .bar3 {
    transform: rotate(45deg) translate(-8px, -7px);
  }
  
  .logout{
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #1c71d8;
    color: #fff;
    transition: background-color 0.3s ease;
  }


  
  .top-header div:hover {
    background-color: #0d348b;
    border-radius: 5px;
  }
  
  .toggle-btn {
    cursor: pointer;
    position: absolute;
    top: 2vh;
    right: 10px;
    z-index: 1;
  }
  
  .user-btn {
    cursor: pointer;
    position: absolute;
    top: 22vh;
    right: 10px;
    z-index: 1;
  }
  .user-btn.open {
    background-color: #133b8f;
    transform: translateX(0);
  }
  .user-btn:hover {
    cursor: pointer;
    position: absolute;
    right: 5px;
    z-index: 1;
  }


  .chat-btn {
    cursor: pointer;
    position: absolute;
    top: 62vh;
    right: 10px;
    z-index: 1;
  }
  .chat-btn:hover {
    cursor: pointer;
    right: 5px;
    z-index: 1;
  }

  .logout-btn {
    cursor: pointer;
    position: absolute;
    top: 82vh;
    right: 10px;
    z-index: 1;
  }
  .logout-btn:hover {
    cursor: pointer;
    right: 5px;
    z-index: 1;
  }

  .friend-btn {
    cursor: pointer;
    position: absolute;
    top: 42vh;
    right: 10px;
    z-index: 1;
  }
  .friend-btn:hover {
    cursor: pointer;
    right: 5px;
    z-index: 1;
  }

  .createChat {
    margin-left: auto;
    margin-top: 1px;
  }
  .containerchat {
    display: flex;
  }

  .container {
    width: 95vw;
    margin-top: 50px;

  }
  
  .blue-button, .green-button, .red-button {
    background-color: #037af8;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
  }

  .violet-button{
    background-color: #813d9c;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .blue-button:hover {
    background-color: #0056b3;
  }
  
  .violet-button {
    background-color: #813d9c;
  }
  
  .violet-button:hover {
    background-color: #613583;
  }

  .green-button {
    background-color: #22941e;
  }
  
  .green-button:hover {
    background-color: #054708;
  }
  
  .red-button {
    background-color: #e01b24;
  }
  
  .red-button:hover {
    background-color: #a51d2d;
  }
  
  /* styles.css */
  .table-container {
    align-items: flex-start;
    display: flex;
    font-family: Arial,sans-serif;
    justify-content: center;
    overflow-x: auto;
    margin-left: 15%;
    width: 70%;
    margin-bottom: 10px;
  }
  
  .table-container table {
    border-collapse:separate;
    width: 100%;
  }
  
  .table-container th,
  .table-container td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .table-container th {
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .table-container th.total {
    text-align: right;
  }
  
  .table-container tr:nth-child(even) {
    background-color: #037af8;
   
  }
  
  .table-container tr:hover {
    background-color: #194ac4;
    color:black;
  }
  

  
  .messages {
    cursor: pointer;
    
  }

  .friend {
    box-shadow: 2px 2px 2px rgba(5, 5, 5, 0.946);
    display: flex;
    align-items: center;  /* Centraliza verticalmente */
    justify-content: center;  /* Centraliza horizontalmente */
    border: 1px solid white;
    padding: 15%;
    position: relative; 
    cursor: pointer;
    border-radius: 100%;
    transition: background-color 0.3s ease;
    background-color: #037af8;
  }
.messages-header {
  display: flex;
  align-items: center;  /* Centraliza verticalmente */
  justify-content: center;  /* Centraliza horizontalmente */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.946);
  border: 1px solid white;
  padding: 5px;
  position: relative; 
  cursor: pointer;
  border-radius: 100%;
  transition: background-color 0.3s ease;
  background-color: #037af8;
}
  
  .messages .messages-count {
    position: absolute;
    top: -5px;
    right: -18px;
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 50%;  
    border: 1px solid #ddd;
    color: white;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    animation: blink 1s infinite; /* Adiciona a animação de piscar */
  }

  .modal-friend {
    position: absolute;
    background: transparent; /* Transparent background */
    border: 2px solid #ffffff;
    border-radius: 5px;
    max-width: 40vw;
    z-index: 1000; /* Ensures modal is above other content */
    transition: background-color 0.3s ease; /* Smooth transition for background-color */
    padding: 5px;
    top: -12vh;
    animation: slideInFromBottom 0.5s forwards;
  }

  .modal-friend:hover{
    background-color: #0d348b;
    border-radius: 5px;

  }

  
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100vh); /* Começa fora da tela, na parte inferior */
    }
    100% {
      transform: translateY(0); /* Termina na posição final */
    }
  }
  
  .modal {
    position: absolute;
    background: transparent; /* Transparent background */
    border: 2px solid #ffffff;
    border-radius: 5px;
    max-width: 40vw;
    z-index: 1000; /* Ensures modal is above other content */
    transition: background-color 0.3s ease; /* Smooth transition for background-color */
    padding: 5px;
    left: -15.7vw;
    top: -15vh;
    transform: translateY(100vh); /* Inicialmente fora da tela */
    animation: slideInFromBottom 0.5s forwards; /* Aplica a animação */
  }


  
  .modal:hover{
    background-color: #0d348b;
    border-radius: 5px;

  }


  .modal-content {
    color: white;
    background: #0056b3;
    padding: 15px;
    max-height: 47vh;
    overflow-y: auto;
    position: relative;
    border-radius: 5px;

  }

  .modal-content:hover {
    background-color: #0d348b;
    border-radius: 5px;
  }

  .close {
    position: absolute;
    top: 2px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: #c5c4c4;
  }
  
  
  .containerPublic {
    position: relative;
    top: 10vh;
    background-color:#037af8;
    max-width: 78vw;
    left: 11vw;
    border-radius: 20px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.946);
    max-height: 40vh;
    border: 1px solid white;
  }

  .containerPrivate {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.946);
    position: relative;
    top: 1vh;
    background-color:#037af8;
    max-width: 78vw;
    left: 11vw;
    border-radius: 20px;
    overflow-y: auto;
    max-height: 40vh;
    border: 1px solid white;
  }
  

  h1 {
    position: relative;
    text-align: center;
  }


  .close:hover {
      color: rgb(249, 205, 205);
  }
  
  .notification {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .friend .notification-count {
    position: absolute;
    top: 4vh;
    width: 18px;
    height: 18px;
    background-color: red;
    border-radius: 50%;  
    border: 1px solid #ddd;
    color: white;
    font-size: 13px;
    text-align: center;
    line-height: 16px;
    animation: blink 1s infinite; /* Adiciona a animação de piscar */
  }
  
  .notification:last-child {
    border-bottom: none;
  }

  
  .logout {
    cursor: pointer;
    color: #007bff;
  }
  
  .logout:hover {
    text-decoration: underline;
  }
  

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


  

  .notification-container {
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    
  }
  
  .notification-container:hover .friend-name {
  color:white;
    
  }


  .notification-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .friend-info {
    display: flex;
    align-items: center;
    color:#054708;
    margin:10px;
  }
  
  
  .friend-photo {
    width: 6vw;
    height: 12vh;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .friend-name {
    font-size: 22px;
    font-weight: bold;
  }
  
  .action-buttons {
    display: flex;
    gap: 30px;

  }
  
  .accept-button {
    font-size: 18px;
    background-color: green;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .accept-button:hover {
    background-color: darkgreen;
  }
  
  .decline-button {
    font-size: 18px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .decline-button:hover {
    background-color: darkred;
  }


  .friends-list {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding-left: 10vw;
  }
  
  .friends-card {
    background-color: white;
    position: relative;
    padding: 10px;
    border: 5px double;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s, border-color 0.2s;
  }
  
  .friends-card:hover {
    transform: scale(1.05);
  }
  
  .friends-photo {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .friends-info {
    margin-top: 10px;
  }
  
  .friends-name {
    font-size: 1.2rem;
    color: #333;
  }
  





  .total-friends-list {
    overflow-y: auto;
  }

  .total-friends {
    top:5vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;     /* Centraliza horizontalmente */
    max-width: 185px;
    margin: 0 auto;          /* Centraliza o contêiner horizontalmente na página */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #0ceb00;
    max-height: 30vh;
  }
  
  .total-friends-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .total-friends-card:last-child {
    border-bottom: none; /* Remove a borda do último item */
  }
  
  .total-friends-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Círculo */
    margin-right: 10px;
  }
  
  .total-friends-info {
    flex-grow: 1; /* Ocupa todo o espaço disponível */
  }
  
  .total-friends-name {
    margin: 0;
    font-size: 1.2em;
    color:#007bff;
  }
  