/* Estilo inicial do sidebarChat */
.sidebarChat {
  background-color: #1c71d8;
  border: 2px solid #0c2e58;
  color: #fff;
  height: 99vh;
  width: 216px; /* Largura do sidebar */
  position: fixed;
  right: -216px; /* Começa fora da tela à direita */
  top: 0;
  transform: translateX(0); /* Inicialmente em sua posição padrão */
  transition: right 0.6s ease-in-out, transform 0.6s ease-in-out; /* Suaviza a transição do movimento */
  z-index: 1000;
  border-radius: 10px 0px 0px 10px;
}

/* Estilo do sidebarChat quando a classe open é adicionada */
.sidebarChat.open {
  right: 0; /* Move o elemento para dentro da tela */
  transform: translateX(0); /* Garante que o elemento está em sua posição final */
}

/* Estilo para .color-options-container */
.color-options-container {
  position: relative;
  overflow: hidden; /* Garante que o conteúdo não ultrapasse a área visível */
}

/* Estilo inicial para .color-options */
.color-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  transition: transform 0.3s ease-out; /* Animação suave */
  transform: translateX(100%); /* Inicialmente fora da tela */
}

/* Estilo para .color-options quando a classe show é adicionada */
.color-options.show {
  transform: translateX(0); /* Desliza para dentro da tela */
}

/* Estilo para .hex-color-picker-container */
.hex-color-picker-container {
  position: absolute;
  top: 50%;
  left: 50%; /* Corrigido para centralizar horizontalmente */
  transform: translate(-50%, -50%);
  z-index: 999; /* Garante que o seletor de cores seja exibido na frente do restante do conteúdo */
}
