

.guestPhoto {
  height: 12vmin;
  pointer-events: none;
}

.guestName {
  font-weight: 700;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 25px;
  
  
}

.guestBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(5px + 2vmin);

  border: 7px double #ffffff; /* Define a borda com 2px de largura e cor preta */
  border-radius: 8px; /* Adiciona bordas arredondadas */
  padding: 5px; /* Adiciona espaço interno à caixa */

  background-color: #006eff;

  margin-bottom: 10px;
}


.App-header {
  background-color: #0a2d71;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

