.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .modal-overlay {
    position: fixed;
    top: 230px;
    left: 890px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px); /* Move o modal para cima */
    transition: transform 0.3s ease-in-out; /* Adiciona transição suave */
    z-index: 1000; /* Garante que o modal esteja acima de outros elementos */
  }