.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100vw); /* Começa fora da tela, na direita */
    }
    100% {
      transform: translateX(0); /* Termina na posição final */
    }
  }
  

  .modal-chat {
    position: absolute;
    background: transparent; /* Transparent background */
    border: 2px solid #ffffff;
    border-radius: 5px;
    max-width: 40vw;
    z-index: 1000; /* Ensures modal is above other content */
    transition: background-color 0.3s ease; /* Smooth transition for background-color */
    padding: 5px;
    left: 70vw;
    top: 15vh;
    animation: slideInFromRight 0.5s forwards;
  }

  .modal-chat:hover{
    background-color: #0d348b;
    border-radius: 5px;

  }
  
  .modal-overlay {
    background: transparent;
    position: fixed;
    top: 27vh;
    left: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px); /* Move o modal para cima */
    transition: transform 0.3s ease-in-out; /* Adiciona transição suave */
    z-index: 1000; /* Garante que o modal esteja acima de outros elementos */
  }